CompileFlags:
  Add: [-std=c2x,
        -mcpu=cortex-m0,
        -Os,
        -D_FORTIFY_SOURCE=2,
        -D_GLIBCXX_DEBUG,
        -D_GLIBCXX_DEBUG_PEDANTIC,
        -Wall,
        -Wcast-align,
        -Wcast-qual,
        -Wconversion,
        -Wduplicated-cond,
        -Wextra,
        -Wfloat-equal,
        -Wformat=2,
        -Wjump-misses-init,
        -Wlogical-op,
        -Wlogical-op,
        -Wmissing-include-dirs,
        -Wnested-externs,
        -Wold-style-definition,
        -Wredundant-decls,
        -Wshadow,
        -Wshift-overflow=2,
        -Wstrict-prototypes,
        -Wwrite-strings,
        -fno-sanitize-recover,
        -fsanitize=address,
        -fsanitize=undefined,
        -fstack-protector
        -pedantic,
      ]
  Compiler: arm-none-eabi-gcc
