CompileFlags:
  Add: [-std=c2x,
        -mcpu=cortex-m0,
        -Wall,
        -Werror=implicit-function-declaration,
        -Werror=implicit-int,
        -Werror=return-type,
        -Werror=strict-prototypes,
        -Werror=deprecated-non-prototype
        -Wextra,
        -Wimplicit-fallthrough,
        -Wpedantic,
      ]
  Compiler: arm-none-eabi-gcc
